# === Node.js (server) ===
basketball-stats-backend/node_modules/
basketball-stats-backend/.env
basketball-stats-backend/dist/
basketball-stats-backend/.DS_Store
basketball-stats-backend/npm-debug.log*
basketball-stats-backend/yarn-debug.log*
basketball-stats-backend/yarn-error.log*

# === React (client) ===
basketball-stats-frontend/node_modules/
basketball-stats-frontend/.env
basketball-stats-frontend/dist/
basketball-stats-frontend/.DS_Store
basketball-stats-frontend/npm-debug.log*
basketball-stats-frontend/yarn-debug.log*
basketball-stats-frontend/yarn-error.log*

# === Node ===
**/node_modules/
**/.env
**/dist/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# === System Files ===
**/.DS_Store
*.tgz
*.swp
*.swo
*.log

# === IDEs ===
.idea/
.vscode/
*.iml

# === Build and Test ===
*.tsbuildinfo
.cache/
coverage/